p {
    font-size: medium;
    font-weight: normal;
    color: rgb(50, 50, 50);
}

h1 {
    text-align: center;
    background-color: rgb(77, 136, 255);
    margin: 10px;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-family: 'Arial', sans-serif;
}

.search {
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    padding: 5px;
}

.search input {
    margin-left: 10px;
    border: 2px solid rgb(100, 100, 100);
    padding: 2px;
    border-radius: 5px;
}
